{% extends 'base.html.twig' %}

{% block title %}{% trans %}titre_modif_souris{% endtrans %}{% endblock %}

{% block metas %}
    <meta name="turbo-cache-control" content="no-cache">
{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN') %}
        <div>{% trans %}msg_acces_page_invalide{% endtrans %}</div>
    {% else %}

        <h1>{% trans %}titre_modif_souris{% endtrans %}</h1>

        {{ include('souris/_form.html.twig', {'button_label': 'texte_btn_maj'|trans}) }}

        <a href="{{ path('app_souris_index') }}">{% trans %}texte_btn_retour{% endtrans %}</a>

        {{ include('souris/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
