{% extends 'base.html.twig' %}

{% block title %}Nouvelle souris{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN') %}
        <div>Vous n'avez pas accès à cette page.</div>
    {% else %}

        <h1>Create new Souris</h1>

        {{ include('souris/_form.html.twig') }}

        <a href="{{ path('app_souris_index') }}">retour</a>

    {% endif %}
{% endblock %}
