{% extends 'base.html.twig' %}

{% block title %}{% trans %}titre_nouveau_souris{% endtrans %}{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN') %}
        <div>{% trans %}msg_acces_page_invalide{% endtrans %}</div>
    {% else %}

        <h1>{% trans %}titre_nouveau_souris{% endtrans %}</h1>

        {{ include('souris/_form.html.twig') }}

        <a href="{{ path('app_souris_index') }}">{% trans %}texte_btn_retour{% endtrans %}</a>

    {% endif %}
{% endblock %}
