<!DOCTYPE html>

<title>New Souris</title>

{% block body %}
    <h1>Create new Souris</h1>

    {{ include('souris/_form.html.twig') }}

    <a href="{{ path('app_souris_index') }}">back to list</a>
{% endblock %}
