<header class="site-header">
    <div class="header-container">
        <h1 class="site-title">MonSuperSite</h1>

        <a href="{{ path('accueil') }}">Accueil</a>
        <a href="{{ path('app_liste_produits') }}">Liste des produits</a>

        <a href="{{ path('app_login') }}" class="login-btn">Connexion</a>
    </div>
</header>
