{% extends 'base.html.twig' %}

{% block title %}{% trans %}titre_accueil0{% endtrans %}{% endblock %}

{% block body %}

            <main>
                <h2>{% trans %}titre_daccueil1{% endtrans %}</h2>
                <p>{% trans %}description_accueil{% endtrans %}</p>
            </main>

{% endblock %}