<form method="post" action="{{ path('app_clavier_delete', {'id': clavier.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clavier.id) }}">
    <button class="btn">Supprimer</button>
</form>
