{% extends 'base.html.twig' %}

{% block title %}Nouveau Clavier{% endblock %}

{% block body %}
    <h1>Create new Clavier</h1>

    {{ include('clavier/_form.html.twig') }}

    <a href="{{ path('app_clavier_index') }}">retour</a>
{% endblock %}
